.text {
    margin-left: 100px;
    margin-top: 100px;
    min-width: 300px;
    padding: 10px;
    border: 3px solid grey;
    text-align: center;
    min-height: 300px;
    overflow: hidden;
    display: block;
}

input {
    outline: none;
    border: none;
    border-bottom: olive 3px solid;

}

